altair==4.2.0
apiaudio==0.16.7
attrs==22.1.0
backports.zoneinfo==0.2.1
black==22.10.0
blinker==1.5
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
commonmark==0.9.1
decorator==4.4.2
entrypoints==0.4
gitdb==4.0.9
GitPython==3.1.29
idna==3.4
imageio==2.22.1
imageio-ffmpeg==0.4.7
importlib-metadata==5.0.0
importlib-resources==5.10.0
Jinja2==3.1.2
jsonschema==4.17.0
MarkupSafe==2.1.1
moviepy==1.0.3
mypy-extensions==0.4.3
numpy==1.23.4
packaging==21.3
pandas==1.5.1
pathspec==0.10.2
Pillow==9.2.0
pkgutil-resolve-name==1.3.10
platformdirs==2.5.4
proglog==0.1.10
protobuf==3.20.3
pyarrow==10.0.0
pydeck==0.8.0
Pygments==2.13.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.19.2
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
rich==12.6.0
semver==2.13.0
six==1.16.0
smmap==5.0.0
ssml-builder==1.1.1
streamlit==1.15.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
typing-extensions==4.4.0
tzdata==2022.6
tzlocal==4.2
urllib3==1.26.12
validators==0.20.0
watchdog==2.1.9
zipp==3.10.0
